body {
  background-color : #261d0c;
} 

h1 {
  color: #f6f7eb;
  font-size: 88px;
  font-family : 'Body Grotesque Large', sans-serif;
}

h3 {
  color: #f6f7eb;
  font-size: 24px;
  font-family : 'Outfit', sans-serif;
}

p {
  color: #f6f7eb;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

blockquote {
  color: #f6f7eb;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

a {
  background-color: #0b4f6c;
  color: #f6f7eb;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  border-radius: 26px;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s ease;
  padding: 10px 20px;
  cursor: pointer;
}

a:hover {
  background-color: #f6f7eb;
  color: #0b4f6c;
}

d1 {
  color: #f6f7eb;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}
dd {
  font-weight: bold;
  font-size: 18px;
  color: #f6f7eb;
  font-family : 'Poppins', sans-serif;
  margin-bottom: 5px;
 
}